@font-face {
    font-family: "blitzicons";
    font-weight: normal;
    font-style: normal;
    font-display: block;
    src: url(./blitzicons.woff) format("woff"), url(./blitzicons.ttf) format("truetype");
}

.blitzicon {
    font-family: "blitzicons" !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
